.file-area {
  position: relative;   
}

input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.input-title {
  width: 100%;
  padding: 30px;
  background: rgba(255,255,255,0.2);
  border: 2px dashed rgba(255,255,255,0.2);
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.file-area:hover .input-title {
  background: rgba(255,255,255,0.1);
}

input[type=file] + .input-title {
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}

.card .card-icons {
  position: relative;
}